@using SchiffeVersenken.Data.Sea;

<!-- Dynamic table for displaying game fields with background images -->
<table style="background-image: @_bgUrl">
	@for (int y = -1; y <= _fieldSize; y++)
	{
		<tr>
			@for (int x = -1; x <= _fieldSize; x++)
			{
                <!-- Display column headers with alphabet letters -->
                if (y == -1)
                {
                    if (x == -1 || x == _fieldSize)
                    {
                        <td class="border"></td>
                    }
                    else
                    {
                        <td class="border">@_alphabet[x]</td>
                    }
                }

                <!-- Display empty footer row -->
                else if (y == _fieldSize)
                {
                    <td></td>
                }

                else
                {
                    <!-- Display row numbers on the left side -->
                    if (x == -1)
                    {
                        <td class="border">@(y + 1)</td>
                    }

                    <!-- Display empty last column -->
                    else if (x == _fieldSize)
                    {
                        <td class="border"></td>
                    }

                    <!-- Main game field squares -->
                    else
                    {
                        int col = x;
                        int row = y;

                        <!-- Conditionally render square styles based on their state and field type -->
                        if (FieldType == FieldTypes.PlacementField)
                        {
                            string cssClassEnemy = Field[col, row]._State switch
                            {
                                SquareState.Ship => "ship-placed",
                                _ => ""
                            };
                            <td class="cell square-enemy @cssClassEnemy" @onclick="() => FieldClicked(col, row)"></td>
                        }
                        else if (FieldType == FieldTypes.OwnField)
                        {
                            string cssClassOwn = Field[col, row]._State switch{
                                SquareState.Ship => "ship-placed",
                                SquareState.Hit => "ship-hit",
                                SquareState.Miss => "ship-missed",
                                SquareState.Sunk => "ship-sunk",
                                _ => ""
                            };
                            <td class="cell @cssClassOwn"></td>
                        }
                        else if (FieldType == FieldTypes.EnemyField)
                        {
                            string cssClassEnemy = Field[col, row]._State switch
                            {
                                @* SquareState.Ship => "ship-placed", *@
                                SquareState.Hit => "ship-hit",
                                SquareState.Miss => "ship-missed",
                                SquareState.Sunk => "ship-sunk",
                                _ => ""
                            };
                            <td class="cell square-enemy @cssClassEnemy" @onclick="() => FieldClicked(col, row)"></td>
                        }
                    }
                }
			}
		</tr>
	}
</table>

<!-- Style for dynamically adjusting cell sizes based on the field size -->
<style>
    :root {
        --field-count: calc(@_fieldSize + 2);
        --field-size: 35vw;
        --cell-size: calc(var(--field-size) / var(--field-count));
    }
</style>


@code {
    // For UI Displayment
    private char[] _alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ".ToCharArray();
    private int _fieldSize;
    private string _bgUrl;

    public enum FieldTypes
    {
        PlacementField,
        OwnField,
        EnemyField
    }

    // The game field matrix
    [Parameter]
    public Square[,] Field { get; set; }

    // Type of the game field
    [Parameter]
    public FieldTypes FieldType { get; set; }

    // Event callback delegate that calls a function on the parent page when a field is clicked
    [Parameter] public EventCallback<int[]> OnFieldClicked { get; set; }

    /// <summary>
    /// Handles field clicks and invokes the parent page function via the EventCallback.
    /// </summary>
    /// <param name="x">X coordinate of the clicked field.</param>
    /// <param name="y">Y coordinate of the clicked field.</param>
    private async Task FieldClicked(int x, int y)
    {
        int[] coords = new int[] { x, y };
        await OnFieldClicked.InvokeAsync(coords);
    }

    /// <summary>
    /// Sets the fieldsize and bgUrl
    /// </summary>
    protected override void OnInitialized()
    {
        _fieldSize = Field.GetLength(0);
        switch (FieldType)
		{
			case FieldTypes.PlacementField:
				_bgUrl = "url(../images/backgroundbattlefieldown.png)";
				break;
			case FieldTypes.OwnField:
				_bgUrl = "url(../images/ownfield.png)";
				break;
			case FieldTypes.EnemyField:
				_bgUrl = "url(../images/enemyfield.png)";
				break;
			default:
				break;
		}
    }

}
