@page "/PregameVsComputer"
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager;
@using SchiffeVersenken.Data.Controller;
@inherits LayoutComponentBase

<div class="container vertical" style="height:100%; width: 100%;">
	<h1 class="container center">Pregame Vs Computer</h1>

	<div class="container vertical center">

		<label style="text-align:center">Feldgrösse:  @_FieldSize x @_FieldSize</label>
		<div class="slider-container">
			<label>@_minFieldSizeString</label>
			<input type="range" min="@_minFieldSize" max="@_maxFieldSize" step="1" @bind-value="@_FieldSize" class="range-style" />
			<label>@_maxFieldSizeString</label>
		</div>

		<div class="container center" style="padding-block:2vh 13vh;">
			<label>Difficulty:</label>
			<select @bind="@_Difficulty" style="font-size: 1rem">
				@_Difficulty
				@foreach (var difficulty in Enum.GetValues(typeof(ComputerDifficulty)))
				{
					<option value="@difficulty">@difficulty</option>
				}
			</select>
		</div>
	</div>

	<div class="container center">
		<button class="Btn-2D" role="button" @onclick="SendSettings">Start Placing Ships</button>
	</div>
</div> 






