@page "/ShipPlacement"
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager;
@inherits LayoutComponentBase
@inject IDialogService DialogService;


<MudStack style="@($"height:100%; width: 100%; background-image: {bgUrl}; background-size: cover; background-position: center; background-repeat: no-repeat;")" Justify="Justify.SpaceEvenly" AlignItems="AlignItems.Center">

    <!-- Title for the Ship Placement page -->
    <MudText Align="Align.Center" Typo="Typo.h5"><b>Ship Placement</b></MudText>

    <!-- Layout for ship placement and battlefield visualization -->
    <MudStack Row="true" Spacing="10">
        <!-- Container for displaying SVGs of ships available for placement -->
        <MudStack Class="align-center" Style="width: 35vw; height: 35vw;">

            <!-- Flex container to wrap ship SVGs for dynamic layout -->
            <MudContainer Class="d-flex flex-wrap justify-space-evenly" Style="width: 100%; padding: 0; margin: 0;">
                @foreach (var ship in _ships)
                {
                    <div style="width: 8.5vw; height: 8.5vw; display: flex; justify-content: center; align-items: center;">
                        @PlaceShipSVG(ship)
                    </div>
                }
            </MudContainer>

            <!-- Button group for ship manipulation actions -->
            <MudButtonGroup Variant="Variant.Filled" Style="margin-top: auto; background-color: white">
                <MudButton @onclick="ChangeOrientation" EndIcon="@Icons.Material.Filled.Rotate90DegreesCw"> Drehen</MudButton>
                <MudButton @onclick="OnClickResetLastShip" EndIcon="@Icons.Material.Filled.ArrowBack">Reset Ship</MudButton>
                <MudButton @onclick="OnClickResetAll" EndIcon="@Icons.Material.Filled.SettingsBackupRestore">Reset All</MudButton>
            </MudButtonGroup>
        </MudStack>

        <!-- Battlefield component where users can click to place ships -->
        <BattleFieldComponent FieldType="@BattleFieldComponent.FieldTypes.PlacementField" Field="@_board" OnFieldClicked="@OnSquareClick" />
    </MudStack>
	
    <!-- Button to proceed to the next stage of the game, disabled until all ships are placed -->
	<MudButton OnClick="GoToNextPage" Variant="Variant.Filled" Style="background-color: white" Disabled=@(_shipsPlaced.Count() != _ships.Count())>Start the Battle!!</MudButton>

</MudStack>

